.header-container {
  background-color: #2bed72;
  padding: 0.5rem;
  margin-bottom: 50px;

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 4rem;
    align-items: center;
    margin-right: 2em;
    margin-left: 2em;

    li {
      .header-link {
        cursor: pointer;
        color: black;
        font-weight: 600;
        font-size: 20px;

        span {
          margin-left: 0.5rem;
        }
      }
      .header-link:hover {
        text-decoration: underline;
      }
    }

    li:first-child {
      margin-right: auto;
      cursor: pointer;
      #header-logo {
        width: 107px;
      }
    }
  }
}
